:root{
    /* colores */
    --red-suzuki:#be172a;
    --grey-suzuki:#333333;
    --white-suzuki:#FFFFFF;
    --greyf-suzuki:#F7F7F7;
    --greyg-suzuki:#595B59;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: 'Barlow Condensed', sans-serif;
}

header{
    width: 95%;
    height:85px;
}
.nav-fixed{
    position: fixed;
    width: 100%;
    height: 90px;
    z-index: 1;
    background-color: var(--white-suzuki);
}
.container-opc{
    height: 80px;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin: 0 auto;
}
.container-logo {
    position: relative;
    display: flex;
    align-self: flex-start;
    height: 80px;
    width: 18%;
}
.container-logo img{
    position: absolute;
    left: 10px;
    align-self: center;
    height: 70px;
    top: 7px;
}
.container-opc .container-opc-up li{
    height: 23px;
    display: inline-block;
    color: #333333;
    width: auto;
    padding: 0 10px;
}
.container-opc .container-opc-up{
    font-size: 1.1rem;
    line-height: 2rem;
    font-weight: 100;
    letter-spacing: 0.1rem;
    width: 75%;
    display: flex;
    justify-content: end;
    text-align: end;
    margin-right: 80px;
}
 ul{
    list-style: none;
    text-decoration: none;
}
a{
    text-decoration: none;
    color:var(--grey-suzuki);
    font-family:'nunito_sansregular', sans-serif;
    font-weight: 100;
}
.icons-search{
    opacity: 50%;
    display: flex;
    align-items: flex-end;
    gap: 10px;
}
.icons-search .search{
    background-image: url("assets/search.svg");
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: text-bottom;
}
.icons-search .a-mas{
    background-image: url("assets/increase.svg");
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: text-bottom;
}
.icons-search .a-menos{
    background-image: url("assets/decrease.svg");
    display: inline-block;
    width: 15px;
    height: 15px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: text-bottom;
}
.icons-search .mood{
    background-image: url("assets/nightlight.svg");
    display: inline-block;
    width: 18px;
    height: 18px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: text-bottom;
}
.container-opc-up .promo{
    width: 90px;
    height: 20px;
    display: block;
    color: #ffffff;
    border-radius: 10px;
    padding: 10px;
}
.promo .promo-red{
    color: #ffffff;
    background-color: var(--red-suzuki);
    padding: 8px;
    border-radius: 30px;
    cursor: pointer;
}
.promo .promo-red:hover{
    color: #ffffff;
    background-color: var(--grey-suzuki);
    padding: 8px;
    border-radius: 30px;
    cursor: pointer;
}
.container-opc .container-opc-down {
    margin-right: 80px;
    margin-top: 15px;
    display: flex;
    direction: rtl;
}
.container-opc .container-opc-down li{
    font-family:'nunito_sans_blackregular', sans-serif;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    line-height: 2rem;
    display: inline-block;
    padding-top: 10px;   
    
}
.container-opc .container-opc-down a{
    font-weight: bold;
    color: var(--greyg-suzuki);
    padding: 10px;
}
main{
    width: 100%;
}
.main-carrusel .content-img {
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 10px;
}
.banner-back{
    width: 100%;
}
.degradient-left{
    background: linear-gradient(88deg, #000000 14.89%, rgba(0, 0, 0, 0) 100%);
    position: absolute;
    width: 66%;
    height: 100%;
    top: 0;
    opacity: 0.7;
}
.carrusel{
    position: absolute;
    max-width: 612px;
    width: 50%;
    top: 25.62%;
    left: 4.43%;
}
.carrusel h1{
    width: 100%;
    height: auto;
    color: var(--white-suzuki);
    font-size: 6.4rem;
    font-weight: bold;
    line-height: 6.0rem;
    margin-bottom: 30px;
}

.carrusel span{
    font-size: 8.5rem;
    font-weight: bold;
    line-height: 9.5rem;
}
.carrusel p{
    margin-top: 10px;
    width: auto;
    font-family: 'Roboto', sans-serif;
    font-size:  2.1rem;
    color: var(--white-suzuki);
    font-weight: 400;
    line-height: 3rem;
}
.carrusel .barra{
    background: linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    border-radius: 8px;
    height: 1px;
    transform: translateX(-5px);
    width: 60%;
    margin: 32px 0;
}

.btn-container{
    display: flex;
    flex-direction: column;
    max-width: 413.33px;
    width: auto;
    height: auto;
    gap: 8px;
}
.btn-container button{
    cursor: pointer;
    font-size: 2.0rem;
    line-height: 2.5rem;
    border: none;
    height: 74.67px;
}
.btn-container .buttom-up{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-weight: bold;
    color: var(--white-suzuki);
    background: var(--red-suzuki);
    margin-top: 20px;
}
.btn-container .buttom-down{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-weight: bold;
    color: var(--red-suzuki);
    background: var(--white-suzuki);
}
.carrusel-cards .title-card--options {
    display: block;
    text-align: center;
    font-size: 4.5rem;
    margin-top: 4.5rem; 
}
.carrusel-cards{
    width: 100%;
    height: auto;
}
.carrusel-cards .carrusel-cards--options{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.container-options--cars ul{
    display: flex;
    justify-content: center;
    gap: 0 4%;
    margin-top: 3.5rem;
}
.container-options--cars a{
    font-family:'Barlow Condensed', sans-serif;
    font-size: 2.8rem;
    color: black;
}
.container-options--cars a:hover{
    color: var(--red-suzuki);
    cursor: pointer;
}
.container-cards--cars{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    gap: 6.5%;
    margin-top: 20px;
}
li{
    list-style-type: none;
}
 .cont-card--car{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* seccion de compra */
.container-info-vitara{
    display: flex;
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 100px;
}

.container-colors .colors-select-container{
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.container-info-vitara h2{
    border-top: 1px solid black;
    font-size: 2.6rem;
}
.container-info-vitara p{
    font-size: 4.6rem;
    font-weight: 300;
}
.button-view-config{
    width: fit-content;
    display: flex;
    gap: 24px;
    margin-top: 39px;
}
.btn-view-model{
    width: 215px;
    height: 75px;
    background: #DE0039;
    font-size: 2rem;
    line-height: 2.5rem;
    color: var(--white-suzuki);
    font-weight: bold;
    border: none;
}
.btn-config{
    width: 215px;
    height: 75px;
    background:var(--white-suzuki);
    font-size: 2rem;
    line-height: 2.5rem;
    color: black;
    font-weight: bold;
    border: black solid 1px;
}
.container-img--background{
    display: flex;
    width: 100%;
    position: relative;
    align-content:flex-end;
}
.fondo img{
    width: 100%;
    height:100%;
    position: absolute;
}
.car-white{
  position: absolute;
}
/* seccion de servicios */
.title-services-container{
    width: 100%;
    height: 58px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.title-services-container .section-services{
    font-size: 4.6rem;
    line-height: 5.7rem;
    text-align: center;
}


