:root{
    /* colores */
    --red-suzuki:#DE0039;
    --grey-suzuki:#333333;
    --white-suzuki:#FFFFFF;
    --greyf-suzuki:#F7F7F7;
    --greyg-suzuki:#595B59;
    --greyft-suzuki:#f6f6f6;
    --greyht-suzuki:#414141;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: 'Barlow Condensed', sans-serif;
}

/* header-nav */
header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
}
header .container-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 1824px ;
    margin: 0 auto;
}
header .container-nav .container-logo--nav{
    width: 200px;
    height: 100%;
    display: flex;
    align-items: center;
}
header .container-nav .container-logo--nav img{
    width: 100%;
    height: 100%;
}
header .container-nav .ul-nav{
    display: flex;
    align-items: center;
    gap: 16px;
    cursor: pointer;
    width: max-content;
    min-height: 80px;
    height: 100%;
}
header .container-nav .container-options{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
header .container-options a{
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
}

header .container-options li :hover{
    color: var(--red-suzuki);
    border-bottom: 3px var(--red-suzuki) solid;
}
header .container-options li{
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
}
header .container-nav  .red-promo{
    color: var(--red-suzuki);
}

header .container-nav a{
    text-decoration: none;
    font-style: normal;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-transform: capitalize;
    color: var(--greyht-suzuki);
    outline: none;
    padding: 0 19px 0 16px;
}

/* main */
main{
    width: 100%;
    height: auto;
}
main .main-carrusel{
    width: 100%;
    height: auto;
}
.main-carrusel .content-img {
    position: relative;
    width: 100%;
    height: 100%;
}
.banner-back{
    width: 100%;
}
.degradient-left{
    background: linear-gradient(88deg, #000000 14.89%, rgba(0, 0, 0, 0) 100%);
    position: absolute;
    width: 66%;
    height: 100%;
    top: 0;
    opacity: 0.7;
}
.carrusel{
    position: absolute;
    max-width: 612px;
    width: 50%;
    top: 18.62%;
    left: 4.43%;
}
.container-banner{
    width: 100%;
    height: auto;
}
.carrusel h1{
    width: 100%;
    height: auto;
    color: var(--white-suzuki);
    font-size: 6.4rem;
    font-weight: bold;
    line-height: 6.0rem;
    margin-bottom: 30px;
}

.carrusel span{
    font-size: 85px;
    font-weight: bold;
    line-height: 95px;
}
.carrusel p{
    margin-top: 10px;
    width: auto;
    font-family: 'Roboto', sans-serif;
    font-size:  2.1rem;
    color: var(--white-suzuki);
    font-weight: 400;
    line-height: 3rem;
}
.carrusel .barra{
    background: linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    border-radius: 8px;
    height: 1px;
    transform: translateX(-5px);
    width: 60%;
    margin: 32px 0;
}

.btn-container{
    display: flex;
    flex-direction: column;
    max-width: 413.33px;
    width: auto;
    height: auto;
    gap: 8px;
}
.btn-container button{
    cursor: pointer;
    font-size: 2.0rem;
    line-height: 2.5rem;
    border: none;
    height: 74.67px;
}
.btn-container .buttom-up{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-weight: bold;
    color: var(--white-suzuki);
    background: var(--red-suzuki);
    margin-top: 20px;
}
.btn-container .buttom-down{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-weight: bold;
    color: var(--red-suzuki);
    background: var(--white-suzuki);
}
.carrusel-cards .title-card--options {
    display: block;
    text-align: center;
    font-size: 4.5rem;
    margin-top: 4.5rem; 
}
.carrusel-cards{
    width: 100%;
    height: auto;
}
.carrusel-cards .carrusel-cards--options{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.container-options--cars ul{
    display: flex;
    justify-content: center;
    gap: 0 4%;
    margin-top: 3.5rem;
}
.container-options--cars a{
    font-family:'Barlow Condensed', sans-serif;
    font-size: 2.8rem;
    color: black;
}
.container-options--cars a:hover{
    color: var(--red-suzuki);
    cursor: pointer;
}
.container-cards--cars{
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    gap: 6.5%;
    margin-top: 20px;
    overflow: hidden;
    align-self: center;
}
li{
    list-style-type: none;
}
 .cont-card--car{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* seccion de compra */
.container-info-vitara{
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 50px;
    margin-bottom: 100px;
    justify-content: flex-start;
}


.container-colors .colors-select-container{
    display: flex;
    gap: 10px;
    margin-top: 20px;
}
.container-vitara{
    width: 33%;
    height: auto;
    padding-left: 88px;
}

.container-info-vitara h2{
    border-top: 1px solid black;
    font-size: 2.6rem;
}
.container-info-vitara p{
    font-size: 4.6rem;
    font-weight: 300;
}
.button-view-config{
    width: fit-content;
    display: flex;
    gap: 24px;
    margin-top: 39px;
}
.btn-view-model{
    width: 215px;
    height: 75px;
    background: #DE0039;
    font-size: 20px;
    line-height: 25px;
    color: var(--white-suzuki);
    font-weight: bold;
    border: none;
}
.btn-config{
    width: 215px;
    height: 75px;
    background:var(--white-suzuki);
    font-size: 20px;
    line-height: 25px;
    color: black;
    font-weight: bold;
    border: black solid 1px;
}

.container-img--background{
    position: relative;
    display: flex;
    width: 67%;
    height: auto;
  }

.fondo{
    width: 100%;
    height: auto;
    position: absolute;
    z-index: -1;
}
.fondo img{
    position:absolute;
    right: 0;
    
}
figure .white-car{
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    max-width: 90%;
    max-height: 90%;
    width: auto;
    height: auto;
    z-index: 1;
  }
  .white-car img{
    position: absolute;
  }


/* seccion de servicios */
.title-services-container{
    width: 100%;
    height: 58px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom:50px ;
}
.title-services-container .section-services{
    font-size: 4.6rem;
    line-height: 5.7rem;
    text-align: center;
}
#servicios{
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-width: 1211px;
    margin: 0 auto;
}
#servicios .box-services{
    width: 270px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

#servicios img{
    width: 87px;
    height: 92px;
}
#servicios figure{
    display: flex;
    justify-content: center;

}
#servicios h3{
    color: #000000;
    font-size: 26px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 16px;
}
#servicios p{
    color: #000000;
    font-family: 'RobotoRegular', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    text-align: center;
    margin-bottom: 36px;
}
#servicios a{
    color: #000000;
    font-size: 20px;
    line-height: 25px;
    text-decoration-line: underline;
}
/* seccion de suzuki te mueve */
#swiper-suzuki{
    width: 100%;
    height: auto;
    margin-top: 60px;
}
#swiper-suzuki .tittle-swiper{
    width: 100%;
    height: 46px; 
    display: flex;
    justify-content: center;  
    margin-top: 50px; 
    margin-bottom: 60px;
}
#swiper-suzuki h2{
    font-size: 4.6rem;
    text-align: center;
}
#swiper-suzuki .container-img--zoom{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    gap: 10px;
}
#swiper-suzuki .img-zoom{
    width: 440px;
    height: 310px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: end;
    overflow: hidden;
}
#swiper-suzuki img{
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease-in-out;
}
#swiper-suzuki .img-zoom .cont-subtitle{
    width: auto;
    height: 45px;
    position: absolute;
    bottom: 10px;
}
#swiper-suzuki .img-zoom:hover img{
    transform: scale(1.2);
}
#swiper-suzuki h3{
    border-bottom: 1px solid;
    color: #FFFFFF;
    margin: 0 auto;
    font-size: 4rem;
    line-height: 4.5rem;
    text-align: center;
}
/* seccion de video */
#suzuki-media .container-title-video{
    width: 100%;
    height: 88px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin-top: 60px;
}

#suzuki-media .container-title-video h2{
    font-size: 4.5rem;
    line-height: 4.8rem;
}
#suzuki-media .container-title-video p{
    font-size: 20px;
    font-family: 'nunito_sansregular', Arial, Helvetica, sans-serif;
    color: var(--greyg-suzuki);
    line-height: 30px;
    margin-top: 15px;
}
.container-iframe-video{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 30px;
}

/* seccion de tarjetas de noticias */
#news-section {
    width: 100%;
    height: auto;
}
#news-section .container-title{
    margin-top: 90px;
    width: 100%;
    height: 58px;
    display: flex;
    justify-content: center;
}
#news-section .container-title h2{
    font-size: 4.5rem;
}
#news-section .container-title-p{
    width: 100%;
    height: 24px;
    margin-bottom: 48px;
}
#news-section .container-title-p p{
    font-size: 2rem;
    font-family: 'nunito_sansregular', Arial, Helvetica, sans-serif;
    color: #262626; 
    line-height: 2.3rem;
    margin-top: 15px;
    display: flex;
    justify-content: center;   
}
/* swiper de noticias */
.news-section {
    margin: 50px auto;
    max-width: 1400px;
  }
  
  .section-title {
    text-align: center;
    font-size: 4.5rem;
    line-height: 4.8rem;
  }
  .sub-tittle-news{
    font-size: 2rem;
    font-family: 'nunito_sansregular', Arial, Helvetica, sans-serif;
    color: var(--greyg-suzuki);
    text-align: center;
    line-height: 3rem;
    margin-top: 15px;
    margin-bottom: 20px;
  }
  
  .news-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .news-card {
    width: calc(33.33% - 20px);
    margin-bottom: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    overflow: hidden;
  }
  
  .news-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    
  }
  
  .news-title {
    font-size: 24px;
    font-weight: bold;
    margin: 20px;
  }
  
  .news-summary {
    font-size: 18px;
    margin: 0 20px 20px;
  }
  
  .read-more {
    display: block;
    text-align: start;
    font-size: 16px;
    font-weight: bold;
    color: red;
    padding: 10px;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out 0s;
  }
  
  .read-more:hover {
    background-color: red;
    color: var(--white-suzuki);
  }
 /* seccion del footer  */

footer{
    background-color: var(--greyft-suzuki);
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer .container-footer--location{
    width: 100%;
    max-width: 1100px;
    height: 108px;
    display: flex;
    justify-content: end;
    align-items: center;
}
footer .map-pin{
    width:  auto;
    height: auto;
    display: flex;
    margin-right: 20px;
    font-family: 'nunito_sans_blackregular', sans-serif;;
    font-size: 1.6rem;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}
footer .map-pin span {
    width: 25px;
    height: 25px;
    margin-right: 5px;
    background-image: url("/assets/pin-ubicacion-suzuki.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

footer .container-footer--location li{
    display: inline-block;
    padding: 0 7px;
}
footer .container-footer--location .ul-icon-social a{
    display: flex;
    width: 35px;
    height: 35px;
    vertical-align: middle;
    border-radius: 50%;
    border: 2px solid #000000;
    padding: 5px;
}
footer .container-footer--location .ul-icon-social img{
    width:21px; 
}
footer .footer-services .footer-services-aux{
    margin: 10px auto;
    padding: 25px 0 35px 0;
    border-bottom: 1px solid #dfe2e7;
    display: flex;
}
footer .footer-services{
    width: 100%;
    max-width: 1920px;
    height: auto;
    display: flex;
    justify-content: center;
}
footer .footer-services .footer-services-aux{
    margin: 10px auto;
    padding: 25px 0 35px 0;
    border-bottom: 1px solid #dfe2e7;
}
footer .footer-services h3{
    width: 80%;
    font-size: 18px;
    font-weight: 400;
    font-family: 'nunito_sansregular',sans-serif;
    color: #7a7a7a;
    letter-spacing: .2px;
    margin-bottom: 20px;
} 
footer .footer-services li{
    color: #666666;
    display: block;
    font-size: 13px;
    margin: 14px auto;
}
footer .footer-services a{
    font-family: 'nunito_sansregular';
    color: #666666;
    font-weight: 400;
}
.container-ul{
    width: 16.66%;
}

/* responsive 1350px a 1780px */
@media (min-width: 1350px) and (max-width: 1780px){
   main .carrusel{
    top: 16%;
    left: 3.5%;
   }

}
/* responsive  980px a 1350px */
@media (min-width: 980px) and (max-width: 1350px){
    main .carrusel{
        top: 16%;
        left: 3.5%;
        max-width: 375px;
       }
    main .carrusel h1{
        font-size: 46px;
        line-height: 50px;
        margin-bottom: 0;
    }
    main .carrusel span{
        font-size: 64px;
        line-height: 70px;
        margin-bottom: 0px;
    }
    main .carrusel .barra{
        margin: 10px 0 ;
    }
    main .carrusel p{
        margin: 10px 0;
        font-size: 16px;
        line-height: 20px;
    }
    main .btn-container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: 413.33px;
        gap: 8px;
    }
    main .btn-container .buttom-up{
        height: 51px;
        font-size: 16px;
        line-height: 20px;
        margin-top: 0;
    }
    main .btn-container .buttom-down{
        height: 51px;
        font-size: 16px;
        line-height: 20px;
    }
    .container-info-vitara{
        display: flex;
        flex-direction: column-reverse;
    }
    .container-img--background{
        width: 100%;
    }
    .container-vitara{
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
}
/* responsive 800px a 980px */
@media (min-width: 800px) and (max-width: 980px){

}
@media (min-width: 721px) and (max-width: 800px){
    main .carrusel{
        top: 7%;
        left: 2.5%;
        max-width: 315px;
       }
    main .carrusel h1 {
        margin-bottom: 0px;
        font-size: 25px;
        line-height: 40px;
    }
    main .carrusel span {
        font-size: 34px;
        line-height: 1px;
    }
    main .carrusel .barra{
        margin: 0;
    }
    main .carrusel p{
        font-size: 10px;
        margin: 0;
    }
    main .btn-container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: 413.33px;
        gap: 4px;
    }
    main .btn-container .buttom-up{
        height: 43px;
        font-size: 14px;
        line-height: 16px;
        margin-top: 0;
    }
    main .btn-container .buttom-down{
        height: 43px;
        font-size: 14px;
        line-height: 16px;
    }
    .container-info-vitara{
        display: flex;
        flex-direction: column-reverse;
    }
    .container-img--background{
        width: 100%;
    }
    .container-vitara{
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

  